In [39]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from scipy import stats
from sklearn.preprocessing import StandardScaler

In [27]:
df = pd.read_csv("E:/PROJECTS/spring boot/Talentboozt-projects/s-backend/src/main/resources/training/events_data.csv")

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134911 entries, 0 to 134910
Data columns (total 27 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   trackingId        134911 non-null  object
 1   eventType         134911 non-null  object
 2   url               134911 non-null  object
 3   sessionId         134911 non-null  object
 4   userId            81123 non-null   object
 5   screenResolution  134911 non-null  object
 6   browser           134911 non-null  object
 7   language          134911 non-null  object
 8   ip                134911 non-null  object
 9   country           68473 non-null   object
 10  region            68473 non-null   object
 11  city              68473 non-null   object
 12  timezone          132844 non-null  object
 13  clickX            44760 non-null   float64
 14  clickY            44760 non-null   float64
 15  scrollPercent     22564 non-null   float64
 16  durationMs        30446 non-null   float64
 17  domLoadTime       11685 non-null   float64
 18  fullLoadTime      11685 non-null   float64
 19  ttfb              11685 non-null   float64
 20  downlink          11994 non-null   float64
 21  effectiveType     11994 non-null   object
 22  rtt               11994 non-null   float64
 23  errorMessage      203 non-null     object
 24  errorSource       184 non-null     object
 25  errorLine         203 non-null     float64
 26  errorColumn       203 non-null     float64
dtypes: float64(11), object(16)
memory usage: 27.8+ MB

In [29]:
df.head()

,trackingId,eventType,url,sessionId,userId,screenResolution,browser,language,ip,country,...,domLoadTime,fullLoadTime,ttfb,downlink,effectiveType,rtt,errorMessage,errorSource,errorLine,errorColumn
0,talentboozt,page_view,/,sess_8xg3veyis8f,NaN,385x854,Mozilla/5.0 (Linux; Android 10; K) AppleWebKit...,en-US,127.0.0.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,talentboozt,page_performance,/home,sess_8xg3veyis8f,NaN,385x854,Mozilla/5.0 (Linux; Android 10; K) AppleWebKit...,en-US,127.0.0.1,NaN,...,6229.0,-1.745939e+12,291.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,talentboozt,page_hidden,/home,sess_8xg3veyis8f,NaN,385x854,Mozilla/5.0 (Linux; Android 10; K) AppleWebKit...,en-US,127.0.0.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,talentboozt,page_view,/home,sess_rjwwegwilta,NaN,1440x718,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,en-US,127.0.0.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,talentboozt,page_performance,/home,sess_rjwwegwilta,NaN,1440x718,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,en-US,127.0.0.1,NaN,...,4433.0,-1.745967e+12,193.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
df.isnull().sum()

trackingId               0
eventType                0
url                      0
sessionId                0
userId               53788
screenResolution         0
browser                  0
language                 0
ip                       0
country              66438
region               66438
city                 66438
timezone              2067
clickX               90151
clickY               90151
scrollPercent       112347
durationMs          104465
domLoadTime         123226
fullLoadTime        123226
ttfb                123226
downlink            122917
effectiveType       122917
rtt                 122917
errorMessage        134708
errorSource         134727
errorLine           134708
errorColumn         134708
dtype: int64

In [31]:
df.describe()

,clickX,clickY,scrollPercent,durationMs,domLoadTime,fullLoadTime,ttfb,downlink,rtt,errorLine,errorColumn
count,44760.000000,44760.000000,22564.000000,3.044600e+04,11685.000000,1.168500e+04,11685.000000,11994.000000,11994.000000,203.000000,203.000000
mean,573.732976,339.447319,55.267860,1.889474e+06,2952.124947,-4.081798e+10,478.015576,5.942805,153.560113,209.743842,13756.684729
std,399.342118,190.634010,70.924162,1.141254e+07,9630.908110,2.639184e+11,1263.026877,3.939981,185.909907,1241.830445,12785.015780
min,-4.000000,-87.000000,10.000000,3.000000e+00,19.000000,-1.748005e+12,0.000000,0.000000,0.000000,0.000000,0.000000
25%,245.000000,186.000000,29.000000,1.120525e+04,992.000000,0.000000e+00,88.000000,1.000000,0.000000,1.000000,226.000000
50%,488.000000,346.000000,51.000000,6.655900e+04,1889.000000,0.000000e+00,254.000000,7.000000,150.000000,1.000000,15125.000000
75%,848.000000,474.000000,78.000000,5.531372e+05,3145.000000,0.000000e+00,515.000000,10.000000,250.000000,1.000000,26162.000000
max,2237.000000,1901.000000,6700.000000,8.617063e+08,688576.000000,2.523100e+04,47658.000000,10.000000,3000.000000,7982.000000,92052.000000

In [32]:
df.columns

Index(['trackingId', 'eventType', 'url', 'sessionId', 'userId',
       'screenResolution', 'browser', 'language', 'ip', 'country', 'region',
       'city', 'timezone', 'clickX', 'clickY', 'scrollPercent', 'durationMs',
       'domLoadTime', 'fullLoadTime', 'ttfb', 'downlink', 'effectiveType',
       'rtt', 'errorMessage', 'errorSource', 'errorLine', 'errorColumn'],
      dtype='object')

In [33]:
# Impute missing values or replace with appropriate placeholders
df['userId'].fillna('unknown_user', inplace=True)
df['country'].fillna('unknown', inplace=True)
df['region'].fillna('unknown', inplace=True)
df['city'].fillna('unknown', inplace=True)

# For numeric columns with missing values (e.g., durationMs, scrollPercent, etc.)
df['clickX'].fillna(0, inplace=True)
df['clickY'].fillna(0, inplace=True)
df['scrollPercent'].fillna(df['scrollPercent'].median(), inplace=True)
df['durationMs'].fillna(df['durationMs'].median(), inplace=True)
df['domLoadTime'].fillna(df['domLoadTime'].median(), inplace=True)
df['fullLoadTime'].fillna(df['fullLoadTime'].median(), inplace=True)
df['ttfb'].fillna(df['ttfb'].median(), inplace=True)
df['downlink'].fillna(df['downlink'].median(), inplace=True)
df['effectiveType'].fillna('unknown', inplace=True)
df['rtt'].fillna(df['rtt'].median(), inplace=True)

# Handle error columns
df['errorMessage'].fillna('no_error', inplace=True)
df['errorSource'].fillna('no_error_source', inplace=True)
df['errorLine'].fillna(0, inplace=True)
df['errorColumn'].fillna(0, inplace=True)

In [34]:
df.isnull().sum()

trackingId             0
eventType              0
url                    0
sessionId              0
userId                 0
screenResolution       0
browser                0
language               0
ip                     0
country                0
region                 0
city                   0
timezone            2067
clickX                 0
clickY                 0
scrollPercent          0
durationMs             0
domLoadTime            0
fullLoadTime           0
ttfb                   0
downlink               0
effectiveType          0
rtt                    0
errorMessage           0
errorSource            0
errorLine              0
errorColumn            0
dtype: int64

In [35]:
# Remove outliers for certain columns
df_cleaned = df[(np.abs(stats.zscore(df[['fullLoadTime', 'ttfb', 'rtt']])) < 3).all(axis=1)]

# Verify the data after removing outliers
print(df_cleaned.describe())

              clickX         clickY  scrollPercent    durationMs  \
count  133088.000000  133088.000000  133088.000000  1.330880e+05
mean      192.957201     114.162524      51.723581  4.835798e+05
std       356.521158     194.785433      29.246699  5.511932e+06
min        -4.000000     -87.000000      10.000000  3.000000e+00
25%         0.000000       0.000000      51.000000  6.655900e+04
50%         0.000000       0.000000      51.000000  6.655900e+04
75%       251.000000     193.000000      51.000000  6.655900e+04
max      2237.000000    1901.000000    6700.000000  8.617063e+08

         domLoadTime   fullLoadTime           ttfb       downlink  \
count  133088.000000  133088.000000  133088.000000  133088.000000
mean     1959.008325       4.226377     259.163719       6.958884
std      2765.692659     186.168597      84.999183       1.075525
min        19.000000       0.000000       0.000000       0.000000
25%      1889.000000       0.000000     254.000000       7.000000
50%      1889.000000       0.000000     254.000000       7.000000
75%      1889.000000       0.000000     254.000000       7.000000
max    688576.000000   25231.000000    1398.000000      10.000000

                 rtt      errorLine    errorColumn
count  133088.000000  133088.000000  133088.000000
mean      147.190205       0.319924      20.983162
std        30.337290      49.068024     732.335823
min         0.000000       0.000000       0.000000
25%       150.000000       0.000000       0.000000
50%       150.000000       0.000000       0.000000
75%       150.000000       0.000000       0.000000
max       300.000000    7982.000000   92052.000000

In [38]:
df = pd.get_dummies(df, columns=['eventType', 'browser', 'country'], drop_first=True)

In [40]:
scaler = StandardScaler()
numeric_cols = ['scrollPercent', 'durationMs', 'domLoadTime', 'fullLoadTime', 'ttfb', 'downlink', 'rtt']
df[numeric_cols] = scaler.fit_transform(df[numeric_cols])

In [41]:
df.to_csv("E:/PROJECTS/spring boot/Talentboozt-projects/s-backend/src/main/resources/training/events_data_cleaned.csv", index=False)